.section-top {
    background-color: #2b2b2b;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.section-top-fixed {
    margin: 13px;
}

.search-box {
    position: relative;
    background-color: #383838;
    display: flex;
    border-radius: 7px;
    align-items: center;
}

.search-input {
    width: 70%;
    background-color: transparent;
    border: none;
    padding: 12px 20px;
    color: #909090;
}

.location-btn {
    width: 30%;
    font-size: 18px;
    text-align: center;
    border-right: 1px solid #909090;
}