@import 'mainStyle';

.top {
    background-color: #404040;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 15px 20px;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
}

.divar-postman {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #5c5c5c;

    .right,
    .left {
        margin: 15px;
    }

    img {
        width: 55px;
        height: 55px;
    }

    .right div {
        font-size: 17px;
        margin-right: 7px;
        line-height: 25px;
        display: inline-block;

        .title {
            font-size: 18px;
        }

        .description {
            color: #c0c0c0;
        }
    }

    .left {}
}