.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
}

.menu {
    align-items: center;
    height: 57px;
    background-color: #383838;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}

.menu div {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.menu div i {
    display: block;
    margin-bottom: 5px;
}

.menu div a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}